<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actualizar artículo</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>
    <div th:insert="fragments :: navbar"></div>
    <div class="container">
        <h1>Actualizar artículo</h1>
        <form th:action="@{/articulo}" th:object="${articulo}" id="articuloForm" method="post">
            <div class="form-group">
                <label for="codigo">Código Artículo</label>
                <input type="text" class="form-control" id="codigo" th:field="*{codigo}" readonly>
            </div>
            <div class="form-group">
                <label for="concepto">Concepto</label>
                <input type="text" class="form-control" id="concepto" th:field="*{concepto}">
            </div>
            <div class="form-group">
                <label for="precio">Precio</label>
                <input type="text" class="form-control" id="precio" th:field="*{precio}">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
    </div>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script>
        document.getElementById('articuloForm').addEventListener('submit', function() {
            this.action = this.action + '/' + document.getElementById('codigo').value;
        });
    </script>
</body>
</html>