<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Facturas Cliente</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>

<body>
    <div th:insert="fragments :: navbar"></div>
    <div class="container">
        <h1>Facturas Cliente</h1>
        <form th:action="@{/facturasCliente}" method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Codigo factura" name="codigo" th:value="${codigoFactura}">
                <input type="text" class="form-control" placeholder="Codigo Cliente" name="cliente" th:value="${clienteId}">
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="mostrarGeneradas" name="estadoFactura" value="generadas" th:checked="${estadoFactura == 'generadas'}">
                <label class="form-check-label" for="mostrarGeneradas">Mostrar Generadas</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="mostrarNoGeneradas" name="estadoFactura" value="noGeneradas" th:checked="${estadoFactura == 'noGeneradas'}">
                <label class="form-check-label" for="mostrarNoGeneradas">Mostrar No Generadas</label>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="fechaDesde">Desde</label>
                <input type="date" class="form-control" id="fechaDesde" name="fechaDesde" th:value="${fechaDesde}">
                <label class="input-group-text" for="fechaHasta">Hasta</label>
                <input type="date" class="form-control" id="fechaHasta" name="fechaHasta" th:value="${fechaHasta}">
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Filtrar</button>
            </div>
        </form>
        <a href="/facturaCliente" class="btn btn-success mb-3">Crear Factura</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">N.Factura</th>
                    <th scope="col">Codigo Cliente</th>
                    <th scope="col">Nombre Cliente</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Total</th>
                    <th scope="col">Generada</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iterar sobre la lista de facturas -->
                <tr th:each="factura : ${facturas}">
                    <td th:text="${factura.codigoFactura}"></td>
                    <td th:text="${factura.codigoCliente}"></td>
                    <td th:text="${factura.nombreCliente}"></td>
                    <td th:text="${factura.date}"></td>
                    <td th:text="${factura.total}"></td>
                    <td th:text="${factura.isGenerated ? 'Sí' : 'No'}"></td>
                    <td>
                        <!-- Botón de editar -->
                        <a th:href="@{/facturaCliente/{id}(id=${factura.codigoFactura})}" class="btn btn-warning">Editar</a>

                        <!-- Botón de eliminar (deshabilitado si está generado) -->
                        <button th:disabled="${factura.isGenerated}" class="btn btn-danger" 
                            th:onclick="|if (confirm('¿Estás seguro de que deseas eliminar?')) { window.location='/facturaCliente/' + ${factura.codigoFactura} + '/delete'; }|">
                            Eliminar
                        </button>

                        <!-- Botón de generar o imprimir -->
                        <button class="btn btn-success" 
                            th:if="${!factura.isGenerated}" 
                            th:onclick="|window.location='/facturaCliente/' + ${factura.codigoFactura} + '/generate';|">
                            Generar
                        </button>
                        <button class="btn btn-secondary" 
                            th:if="${factura.isGenerated}" 
                            th:onclick="|window.location='/facturaCliente/' + ${factura.codigoFactura} + '/print';|">
                            Imprimir
                        </button>
                        <button class="btn btn-info" 
                            th:if="${!factura.isGenerated}" 
                            th:onclick="|window.location='/facturaCliente/' + ${factura.codigoFactura} + '/printAlbaran';|">
                            Albarán
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</html>
